{% extends "base.html" %}
{% load urlify %}


{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
	{% if instance.image %}
	<img src='{{ instance.image.url }}' class='img-responsive'/>
	{% endif %}
<h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span>{% endif %}{{ instance.publish }}</small></h1>
{% if instance.user.get_full_name %}
<p>Author: {{ instance.get_full_name }}</p>
{% endif %}

<!-- <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="box_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p> 
<hr/>
<p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20h{{ request.build_absolute_uri }}
">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}
'>

<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}
&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source={{ request.build_absolute_uri }}
">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}
/&title=Unlock%20to%20Learn%20Swift%20for%20Free!%20By%20Swift%20for%20Entrepreneurs.%20Made%20for%20Non%20Techincals.">Reddit</a>

</a>
</p> -->

<div class='row'>
<div class='col-sm-12'>

{{ instance.content|linebreaks }}

<hr/>
<br/>

<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

</div>
</div>
</div>

{% endblock content %}s
